

<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Spicy 🌶 Restaurant</a>
        <nav>
            <ul>
              
                <li>
                    <a routerLink="admin-login">Admin</a>
                    <a routerLink="/login">login</a>
                   
                </li>
            </ul>
           
        </nav>
    </div>

    
      
</header>
<div>
    <h3>
<p style="text-align:center;color: black;"><b>Welcome to the Spicy 🌶 Restaurant🙂please login</b></p>
</h3>
<p style="text-align:center"><b>please login</b> </p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSousoyj7PKb7EiAkkpKFLle-UNU-jwrtviA&usqp=CAU" 
    height="30%" width="50%" style="margin: -50px auto 0px 350px; ">
</div>
