<div class="card">

    <div class="card-body">
        <h4 class="card-title">Food details</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id number</th>
                    <th>Name Of food</th>
                    <th>price</th>
                    <th>cookTime</th>
                    <th>origin</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>1</td>
                    <td>mutton-Biryani</td>
                    <td>$100</td>
                    <td>60-90</td>
                    <td>india</td>
                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </tr>

                <tr>
                    <td>2</td>
                    <td>chicken-Biryani</td>
                    <td>$100</td>
                    <td>60-90</td>
                    <td>india</td>
                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </tr>

                <tr>
                    <td>3</td>
                    <td>veg-rice</td>
                    <td>$80</td>
                    <td>10-20</td>
                    <td>india</td>
                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </tr>

            <tr>
                <td>4</td>
                <td>white-rice</td>
                <td>$100</td>
                <td>10-20</td>
                <td>india</td>


                <button type="button" class="btn btn-danger">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </tr>
                <tr>

                    <td>5</td>
                    <td>Nodules</td>
                    <td>$100</td>
                    <td>10-20</td>
                    <td>china</td>


                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>

                </tr>
                <tr>

                    <td>6</td>
                    <td>French-fry</td>
                    <td>$10</td>
                    <td>10-20</td>
                    <td>French</td>


                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>

                </tr>
                <tr>

                    <td>7</td>
                    <td>pesta</td>
                    <td>$210</td>
                    <td>10-20</td>
                    <td>USA</td>


                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>

                </tr>
                <tr>

                    <td>8</td>
                    <td>checken-pesta</td>
                    <td>$10</td>
                    <td>30-50</td>
                    <td>china</td>


                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>

                </tr>
                <tr>

                    <td>9</td>
                    <td>Ice-cream</td>
                    <td>$80</td>
                    <td>30-50</td>
                    <td>UK</td>


                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>

                </tr>
                <tr>

                    <td>10</td>
                    <td>gulamjam</td>
                    <td>$50</td>
                    <td>30-50</td>
                    <td>india</td>


                    <button type="button" class="btn btn-danger">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                   
                </tr>
           
            </tbody>
        </table>
        <button type="button" class="btn btn-danger">Add</button>
        <a routerLink="/navbar">Home</a>
    </div>
</div>


               